.alert1 {
	position: absolute;
	width: 50%;
	top: 0;
	left: 25%;
	background: white;
	z-index: 9999999;
	text-align: center;
}
.alert2 {
	position: absolute;
	width: 400px;
	top: 50px;
	right: 0;
	background: orange;
	z-index: 9999999;
	text-align: center;
	height: 500px;	
}
.close_alert {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_alert:hover,
.close_alert:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}