/*
	HOME PAGE
*/
#map_home {
  height: 500px;
  width: 500px;
  margin: auto;
}
#homepage_content #keyword {
  width: 500px;
  height: 50px;
  margin: 10px;
  font-size: 28px;
  text-align: center;
}
.homepage_content {
	min-height: 900px;
  width: 1000px;
  float: left;
}
.homepage_content input{
  width: 350px;
  height: 50px;
  text-align: left;
  vertical-align: middle;
}
.result_search {
	width: 600px;
	min-height: 150px;
	margin: auto;
}
.result_search #event_div {
	width: 150px;
	height: 150px;
	float: left;
	padding: 15px;
  transition: all 0.5s ease;
}
.result_search #event_div:hover{
  transform: scale(1.02);
  background-color: rgb(255,255,0,0.3);
}
.pagination {
	width: 100%;
	height: 50px;
	clear: both;
	font-size: 28px;
	text-align: center;
	padding: 0;
	vertical-align: middle;
}
.pagination > li {
  display: inline;
  margin: 0 5px;
}
.pagination > li > a {
  text-decoration: none;
  color: black;
}
.search_box {
  max-width: 100%
  min-height: 900px;
}
#cityname_choose {
  position: relative;
  top: -85px;
  color: white;
  margin-bottom: -49px;
  font-weight: bold;
  font-family: courier;
  font-size: 23px;
}
.city_selector {
  width: 250px;
  float: left;
  height: 900px;
  padding: 25px;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  height: 100px;
  background-image: url(/Project_Events/media/default-city.jpg);
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}
/*
  SWITCH BUTTON
*/
.switch-button-label {
  float: left;

  font-size: 10pt;
  cursor: pointer;
}

.switch-button-label.off {
  color: #adadad;
}

.switch-button-label.on {
  color: #0088CC;
}

.switch-button-background {
  float: left;
  position: relative;

  background: #ccc;
  border: 1px solid #aaa;

  margin: 1px 10px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  cursor: pointer;
}

.switch-button-button {
  position: absolute;

  left: -1px;
  top : -1px;

  background: #FAFAFA;
  border: 1px solid #aaa;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.switch-wrapper {
  width: 400px;
  float: left;
  height: 25px;
  padding: 15px;
}
/*
	MODAL
*/

#event {
	background-color: rgb(0,0,0,0.8);
	color: white;
}

.modal-open {
  overflow: hidden;
  padding-right: 0 !important
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}