<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="<?php echo UTILS_nofull ?>dropzone.js"></script>
<script type="text/javascript" src="<?php echo EVENTS_JS_PATH ?>controller_events.js"></script>
<script type="text/javascript" src="<?php echo UTILS_EVENTS ?>funct_events.js"></script>

	<div id="create_event">
    <h1>Create Event's</h1> 
    <form name="formulario_espetaculo" id="formulario_espetaculo" method="post">
      <div id="formulari">
        <div id="slot">
	       <p>
	        <label for="name">Event's name :</label>
	        <input name="name" class="name" type="text" id="name" placeholder="name" >
	        <span id="e_name" class='error_js'></span>
	       </p>
        </div> 
        <div id="slot">
        	<p>
          	<label for="owner">Owner's name :</label>
        		<input name="owner" class="owner" type="text" id="owner" placeholder="owner"  >
          	<span id="e_owner" class='error_js'></span>
          </p>
        </div>
        <div id="slot_forbuttons">
          <label for="recommended">Target :</label>
          <input type="radio" name="recommended" id="recommended" value="+12" /> +12
          <input type="radio" name="recommended" id="recommended" value="+16" /> +16
          <input type="radio" name="recommended" id="recommended" value="+18" checked="checked" /> +18
        </div>
        <div id="slot">
          <p>
            <label for="value">Value :</label>
            <input name="value" class="value" type="text" id="value" placeholder="value" >
            <span id="e_value" class='error_js'></span>
          </p>
        </div>
        <div id="slot">
          <p>
            <label for="ticket_price">Value of 1 ticket :</label>
            <input name="ticket_price" class="ticket_price" type="text" id="ticket_price" placeholder="ticket_price" >
            <span id="e_ticket_price" class='error_js'></span>
          </p>
        </div>
        <div id="slot">
        	<p>
        	  <label for="date">Event's date :</label>
        	  <input name="date" class="date" type="text" id="date" placeholder="date" readonly="readonly">
        	  <span id="e_date" class='error_js'></span>
          </p>
        </div>
        <div id="slot">
          <p>
            <h4>Location :</h4>
          </p>
          <p>
            <label for="country">Country :</label>
            <select name="country" id="country"/><option selected>Select country</option></select>
            <span id="e_country" class='error_js'></span>
          </p>
          <p>
            <label for="province">Province :</label>
            <select name="province" id="province"/><option selected>Select Province</option></select>
            <span id="e_province" class='error_js'></span>
          </p>
          <p>
            <label for="poblac">Poblac :</label>
            <select name="poblac" id="poblac"/><option selected>Select Poblation</option></select>
            <span id="e_poblac" class='error_js'></span>
          </p>
          <div id="dropzone" class="dropzone" style="height: 400px;width: 90%;"></div>
        </div>
        <div id="button">
          <input name="done" id="createbutt" class="done" type="button" value="Done"/>
        </div>
      </div>
    </form>
    </div>