<script type="text/javascript" src="<?php echo EVENTS_JS_PATH ?>controller_events.js"></script>
<script type="text/javascript" src="<?php echo UTILS_EVENTS ?>funct_events.js"></script>

	<div id="list_event">
    <h1>Create Event's</h1> 
    <form name="formulario_espetaculo" id="formulario_espetaculo" method="post">
      <div id="formulari">
        <div id="slot">
	       <p>
	        <label for="name">Event's name :</label>
	        <input name="name" class="name" type="text" id="name" placeholder="name" readonly="readonly">
	       </p>
        </div> 
        <div id="slot">
        	<p>
          	<label for="owner">Owner's name :</label>
        		<input name="owner" class="owner" type="text" id="owner" placeholder="owner" readonly="readonly" >
          </p>
        </div>
        <div id="slot_forbuttons">
          <label for="recommended">Target :</label>
            <input name="recommended" class="recommended" type="recommended" id="recommended" placeholder="owner" readonly="readonly"  >
        </div>
        <div id="slot">
          <p>
            <label for="value">Value :</label>
            <input name="value" class="value" type="text" id="value" placeholder="value" readonly="readonly" >
          </p>
        </div>
        <div id="slot">
          <p>
            <label for="ticket_price">Value of 1 ticket :</label>
            <input name="ticket_price" class="ticket_price" type="text" id="ticket_price" placeholder="ticket_price" readonly="readonly" >
          </p>
        </div>
        <div id="slot">
        	<p>
        	  <label for="date">Event's date :</label>
        	  <input name="date" class="date" type="text" id="date" placeholder="date" readonly="readonly">
          </p>
        </div>
        <div id="slot">
          <p>
            <h4>Location :</h4>
          </p>
          <p>
            <label for="country">Country :</label>
            <input name="country" class="country" type="text" id="country" placeholder="country" readonly="readonly">
          </p>
          <p>
            <label for="province">Province :</label>
            <input name="province" class="province" type="text" id="province" placeholder="province" readonly="readonly">
          </p>
          <p>
            <label for="poblac">Poblac :</label>
            <input name="poblac" class="poblac" type="text" id="poblac" placeholder="poblac" readonly="readonly">
          </p>
        </div>
      </div>
    </form>
    </div>