<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="<?php echo UTILS_HOMEPAGE ?>css/homepage.css">
<script type="text/javascript" src="<?php echo UTILS_nofull ?>jquery.switchButton.js"></script>
<script type="text/javascript" src="<?php echo HOMEPAGE_JS_PATH ?>jquery.bootpag.min.js"></script>
<script type="text/javascript" src="<?php echo UTILS_HOMEPAGE ?>function_homepage.js"></script>
<script type="text/javascript" src="<?php echo HOMEPAGE_JS_PATH ?>controller_homepage.js"></script>
<script type="text/javascript" src="<?php echo HOMEPAGE_JS_PATH ?>map.js"></script>
<div id="map_home"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpHhlZbF2vhXzFC0XRhjsmQOu5YE4YlDk&callback=initMap"></script>
<div class="search_box">
    <div class="city_selector">
        <center>
            <form id="city_selector">
            </form>
        </center>
    </div>
    <div id="homepage_content" class="homepage_content">
        <center>
            <input id="keyword_normalview" class="input_keyword"style="text">
            <div id="result_search" class="result_search"></div>
            <div id="bootpage" class="bootpage"></div>
        </center>
    </div>
    <div class="switch-wrapper">
      <input type="checkbox" value="1" checked>
    </div>
</div>
<section id="event">
    <div id="details_event" hidden>
        <div id="details">
            <div id="img_event" class="prodImg"></div></br>
            <div id="container">
                <div id="name_event"></div></br>
                <div id="fecha_event"></div></br>
            </div>
        </div>
    </div>
</section>