    <script type="text/javascript" src="<?php echo UTILS_nofull?>utils.js"></script>
    <script type="text/javascript" src="<?php echo JS_LOGIN?>modal_login.js"></script>
    <script type="text/javascript" src="<?php echo JS_LOGIN?>firebase.js"></script>
    <script type="text/javascript" src="<?php echo JS_LOGIN?>normal_login.js"></script>
    <script type="text/javascript" src="<?php echo UTILS_LOGIN?>functions_login.js"></script>
    <script type="text/javascript" src="<?php echo JS_PATH?>menu.js"></script>
    <script type="text/javascript" src="<?php echo JS_PATH?>pop_up.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
</body>
</html>